{# Input fields table for create. #}

<table class="fields">

  {% for field in fields %}
    <tr>
      <th>{{ field.title }}</th>
      <td>
	{% if field.mandatory %}
	  {% module Icon('mandatory') %}
	{% end %}
      </td>
      <td>
	{% if field.type == 'text' %}
	  <input type="text" name="{{ field.key }}">
	{% elif field.type == 'auto' %}
	  [autoassigned]
	{% else %}
	  [invalid field type]
	{% end %}
      </td>
      <td class="description">{{ field.description }}</td>
    </tr>
  {% end %}

  <tr>
    <th></th>
    <td></td>
    <td>
      {% module Submit('create') %}
    </td>
  </tr>

</table>
