{# Output fields for table display. #}

{% for field in fields %}
  <tr>
    <th title="{{ field.description }}" class="nobr">{{ field.title }}</th>
    <td>
      {% if field.type == 'text' %}
        {{ entity.get(field.key) or '-' }}
      {% elif field.type == 'number' %}
        <span class="number">
	  {{ entity.get(field.key) is None and '-' or entity.get(field.key) }}
	</span>
      {% elif field.type == 'auto' %}
        {{ entity.get(field.key) or '-' }}
      {% else %}
        [invalid field type]
      {% end %}
    </td>
  </tr>
{% end %}
