{# Input fields table for edit. #}

<table class="fields">

  {% for field in fields %}
  <tr>
    <th>{{ field.title }}</th>
    <td>
      {% if field.mandatory %}
        {% module Icon('mandatory') %}
      {% end %}
    </td>
    <td>
      {% if field.editable %}
        {% if field.type == 'text' %}
          <input type="text" name="{{ field.key }}"
		 value="{{ entity.get(field.key) or '' }}">
	{% elif field.type == 'auto' %}
	  [autoassigned]
	{% elif field.type == 'number' %}
	  {% set value = entity.get(field.key) %}
	  {% if value is None %}
	  <input type="text" name="{{ field.key }}">
	  {% else %}
	  <input type="text" name="{{ field.key }}" value="{{ value }}">
	  {% end %}
	{% else %}
	  [invalid field type]
	{% end %}
      {% else %}
	  {{ entity.get(field.key) or '' }}
      {% end %}
    </td>
    <td class="description">{{ field.description }}</td>
  </tr>
{% end %}

  <tr>
    <th></th>
    <td></td>
    <td>
      {% module Submit('save') %}
    </td>
  </tr>

</table>
