{# Home page. #}

{% extends "base.html" %}

{% block api %}
<div>
  <a href="{{ reverse_url('api_home') }}">
    {% module Icon('json') %}
    {{ reverse_url('api_home') }}
  </a>
</div>
{% end %}

{% block content %}

{% if current_user %}

<p>
  <strong>Grand total</strong>:
  {{ projects_count }} projects,
  {{ samples_count }} samples,
  {{ libpreps_count }} libpreps.
</p>

<table class="list">
  <caption>Recently modified projects</caption>
  <tr>
    <th>Identifier</th>
    <th>Name</th>
    <th>Modified</th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>
      <a href="{{ reverse_url('project', project['projectid']) }}">
	{{ project['projectid'] }}
      </a>
    </td>
    <td>{{ project.get('name') or '-' }}</td>
    <td class="localtime">{{ project['modified'] }}</td>
  </tr>
  {% end %}
</table>

<br>

<table class="list">
  <caption>Recently modified samples</caption>
  <tr>
    <th>Project</th>
    <th>Sample</th>
    <th>Modified</th>
  </tr>
  {% for sample in samples %}
  <tr>
    <td>
      <a href="{{ reverse_url('project', sample['projectid']) }}">
	{{ sample['projectid'] }}
      </a>
    </td>
    <td>
      <a href="{{ reverse_url('sample', sample['projectid'], sample['sampleid']) }}">
	{{ sample['sampleid'] }}
      </a>
    </td>
    <td class="localtime">{{ sample['modified'] }}</td>
  </tr>
  {% end %}
</table>

<br>

<table class="list">
  <caption>Recently modified libpreps</caption>
  <tr>
    <th>Project</th>
    <th>Sample</th>
    <th>Libprep</th>
    <th>Modified</th>
  </tr>
  {% for libprep in libpreps %}
  <tr>
    <td>
      <a href="{{ reverse_url('project', libprep['projectid']) }}">
	{{ libprep['projectid'] }}
      </a>
    </td>
    <td>
      <a href="{{ reverse_url('sample', libprep['projectid'], libprep['sampleid']) }}">
	{{ libprep['sampleid'] }}
      </a>
    </td>
    <td>
      <a href="{{ reverse_url('libprep', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
	{{ libprep['libprepid'] }}
      </a>
    </td>
    <td class="localtime">{{ libprep['modified'] }}</td>
  </tr>
  {% end %}
</table>

{% else %}
{% include 'login_form.html' %}
{% end %}

{% end %}
