{# Home page. #}

{% extends "base.html" %}

{% block api %}
<div>
  <a href="{{ reverse_url('api_home') }}">
    {% module Icon('json') %}
    {{ reverse_url('api_home') }}
  </a>
</div>
{% end %}

{% block content %}

{% if current_user %}
<table class="list">
  <tr>
    <th>Items</th>
    <th>Total count</th>
  </tr>
  <tr>
    <td>Projects</td>
    <td>{{ projects_count }}</td>
  </tr>
  <tr>
    <td>Samples</td>
    <td>{{ samples_count }}</td>
  </tr>
  <tr>
    <td>Libpreps</td>
    <td>{{ libpreps_count }}</td>
  </tr>
</table>
{% else %}
{% include 'login_form.html' %}
{% end %}

{% end %}
