{# Libprep create page. #}

{% extends "base.html" %}

{% block head_title %}
Create Libprep
in sample {{ sample['projectid'] }},
sample {{ sample['sampleid'] }}
{% end %}

{% block title %}
{% module Icon('create', label=True) %}
{% module Icon('libprep', label=True) %}
in sample {{ sample['projectid'] }},
sample {{ sample['sampleid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('sample', sample['projectid'], sample['sampleid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('libprep_create', sample['projectid'], sample['sampleid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Create a new libprep</legend>
    {% include 'error.html' %}
    {% include 'create_fields.html' %}
  </fieldset>

</form>

{% end %}
