{# Libprep edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Libprep
{{ libprep['projectid'] }},
{{ libprep['sampleid'] }},
{{ libprep['libprepid'] }}
{% end %}

{% block title %}
{% module Icon('edit', label=True) %}
{% module Icon('libprep', label=True) %}
{{ libprep['projectid'] }},
{{ libprep['sampleid'] }},
{{ libprep['libprepid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('libprep', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('libprep_edit', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Edit the libprep information</legend>
    {% include 'error.html' %}
    {% set entity = libprep %}
    {% include 'edit_fields.html' %}
  </fieldset>

</form>

{% end %}
