{# Libprep page. #}

{% extends "base.html" %}

{% block head_title %}
Libprep
{{ libprep['projectid'] }},
{{ libprep['sampleid'] }},
{{ libprep['libprepid'] }}
{% end %}

{% block title %}
{% module Icon('libprep', label=True) %}
{{ libprep['projectid'] }},
{{ libprep['sampleid'] }},
{{ libprep['libprepid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('libprep_edit', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
  {% module Submit('edit') %}
</form>
<form action="{{ reverse_url('seqrun_create', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
  {% module Submit('create', title='Create seqrun') %}
</form>
{% end %}

{% block api %}
<div>
  <a href="{{ reverse_url('api_libprep', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_libprep', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_libprep_seqruns', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_libprep_seqruns', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_logs', libprep['_id']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_logs', '_id') }}
  </a>
</div>
{% end %}

{% block content %}

{% set entity = libprep %}

<table class="fields">

  <tr>
    <th>Project</th>
    <td>
      <a href="{{ reverse_url('project', libprep['projectid']) }}">
	{{ libprep['projectid'] }}
      </a>
    </td>
  </tr>

  <tr>
    <th>Sample</th>
    <td>
      <a href="{{ reverse_url('sample', libprep['projectid'], libprep['sampleid']) }}">
	{{ libprep['sampleid'] }}
      </a>
    </td>
  </tr>

  {% include 'display_fields.html' %}

  <tr>
    <th>Seqruns</th>
    <td>
      <table class="list">
	<tr class="list">
	  <th>Identifier</th>
	  <th>Status</th>
	  <th>Run ID</th>
	  <th>Alignment status</th>
	  <th>Alignment coverage</th>
	</tr>
	{% for seqrun in seqruns %}
	<tr>
	  <td>
	    <a href="{{ reverse_url('seqrun', seqrun['projectid'], seqrun['sampleid'], seqrun['libprepid'],  seqrun['seqrunid']) }}">
	      {{ seqrun['seqrunid'] }}
	    </a>
	  </td>
	  <td>{{ seqrun.get('status') or '-' }}</td>
	  <td>{{ seqrun.get('runid') or '-' }}</td>
	  <td>{{ seqrun.get('alignment_status') or '-' }}</td>
	  <td class="number">
	    {{ seqrun.get('alignment_coverage') or '0.0' }}
	  </td>
	  <td>
	    <form action="{{ reverse_url('seqrun_edit', seqrun['projectid'], seqrun['sampleid'], seqrun['libprepid'], seqrun['seqrunid']) }}">
	      {% module Submit('edit', slim=True) %}
	    </form>
	  </td>
	</tr>
	{% end %}
      </table>
    </td>
  </tr>

  {% include 'output_events_fields.html' %}

</table>

{% end %}
