{# Libprep edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Libprep
{{ libprep['projectid'] }},
{{ libprep['sampleid'] }},
{{ libprep['libprepid'] }}
{% end %}

{% block title %}
{% module Icon('edit', label=True) %}
{% module Icon('libprep', label=True) %}
{{ libprep['projectid'] }},
{{ libprep['sampleid'] }},
{{ libprep['libprepid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('libprep', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('libprep_edit', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Edit the libprep information</legend>
    {% include 'error.html' %}

    <table class="fields">

      {% for field in fields %}
      <tr>
	<th>{{ field.title }}</th>
	<td>
	  {% if field.mandatory %}
          {% module Icon('mandatory') %}
	  {% end %}
	</td>
	<td>{% raw field.html_edit(libprep) %}</td>
	<td class="description">{{ field.description }}</td>
      </tr>
      {% end %}

      <tr>
	<th></th>
	<td></td>
	<td>
	  {% module Submit('save') %}
	</td>
      </tr>

    </table>
  </fieldset>

</form>

{% end %}
