{# Project page. #}

{% extends "base.html" %}

{% block head_title %}
Project {{ project['projectid'] }}
{% end %}

{% block title %}
{% module Icon('project') %}
Project {{ project['projectid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('project_edit', project['projectid']) }}">
  {% module Submit('edit') %}
</form>
<form action="{{ reverse_url('sample_create', project['projectid']) }}">
  {% module Submit('create', title='Create sample') %}
</form>
<form action="{{ reverse_url('project_update', project['projectid']) }}">
  {% module Submit('update', title='Update samples') %}
</form>
<form action="{{ reverse_url('project_upload', project['projectid']) }}">
  {% module Submit('upload', title='Upload samples') %}
</form>
{% end %}

{% block api %}
<div>
  <a href="{{ reverse_url('api_project', project['projectid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_project', project['projectid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_samples', project['projectid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_samples', project['projectid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_project_libpreps', project['projectid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_project_libpreps', project['projectid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_project_seqruns', project['projectid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_project_seqruns', project['projectid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_logs', project['_id']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_logs', '_id') }}
  </a>
</div>
{% end %}

{% block content %}

<table class="fields">

  {% for field in fields %}
  <tr>
    <th title="{{ field.description }}" class="nobr">{{ field.title }}</th>
    <td>{% raw field.html_display(project) %}</td>
  </tr>
  {% end %}

  <tr>
    <th>Samples</th>
    <td>
      <table class="list">
	<tr class="list">
	  <th>Identifier</th>
	  <th>Status</th>
	  <th>Analysis Status</th>
	  <th>Genotyping status</th>
	  <th>Total autosomal coverage</th>
	  <th>Target coverage</th>
	  <th>Total sequenced reads</th>
	  <th># libpreps</th>
	  <th># seqruns</th>
	  <th>Modified</th>
	</tr>

	{% if samples %}
	{% for sample in samples %}
	<tr>
	  <td>
	    <a href="{{ reverse_url('sample', project['projectid'], sample['sampleid']) }}">
	      {{ sample['sampleid'] }}
	    </a>
	  </td>
	  <td>{{ sample.get('status') or '-' }}</td>
	  <td>{{ sample.get('analysis_status') or '-' }}</td>
	  <td>{{ sample.get('genotyping_status') or '-' }}</td>
	  <td >{{ sample['total_autosomal_coverage'] if sample.get('total_autosomal_coverage') else '-'}}</td>
	  <td>{{ sample.get('target_coverage') or '-' }}</td>
	  <td>{{ sample.get('total_sequenced_reads') or '-' }}</td>
	  <td class="number">{{ sample['libpreps_count'] }}</td>
	  <td class="number">{{ sample['seqruns_count'] }}</td>
	  <td class="localtime">{{ sample['modified'] }}</td>
	  <td>
	    <form action="{{ reverse_url('sample_edit', sample['projectid'], sample['sampleid']) }}">
	      {% module Submit('edit', slim=True) %}
	    </form>
	  </td>
	</tr>
	{% end %}

	{% else %}
	<tr>
	  <td>[none]</td>
	</tr>
	{% end %}
      </table>
    </td>
  </tr>

  {% set entity = project %}
  {% include 'output_events_fields.html' %}

</table>

{% end %}
