{# Project create page. #}

{% extends "base.html" %}

{% block head_title %}
Create Project
{% end %}

{% block title %}
{% module Icon('create', label=True) %}
{% module Icon('project', label=True) %}
{% end %}

{% block content %}

<form action="{{ reverse_url('project_create') }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>

    <legend>Create a new project</legend>

    <table class="fields">

      <tr>
	<th>Identifier</th>
	<td>{% module Icon('mandatory') %}</td>
	<td><input type="text" name="projectid"></td>
	<td class="description">
	  The unique identifier for the project, e.g. "P1234".
	</td>
      </tr>

      <tr>
	<th>Name</th>
	<td></td>
	<td><input type="text" name="name"></td>
	<td class="description">
	  The name of the project, e.g. P.Kraulis_14_01.
	  Optional; must be unique if given.
	</td>
      </tr>

      <tr>
	<th>Status</th>
	<td></td>
	<td><input type="text" name="status"></td>
	<td class="description">
	  The status of the project.
	</td>
      </tr>

      <tr>
	<th>Pipeline</th>
	<td></td>
	<td><input type="text" name="pipeline"></td>
	<td class="description">
	  The pipeline to use for project data analysis.
	</td>
      </tr>

      <tr>
	<th></th>
	<td></td>
	<td>
	  {% module Submit('create') %}
	</td>
      </tr>

    </table>

  </fieldset>

</form>

{% end %}
