{# Project page. #}

{% extends "base.html" %}

{% block head_title %}
Project {{ project['projectid'] }}
{% end %}

{% block title %}
{% module Icon('project') %}
Project {{ project['projectid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('project_edit', project['projectid']) }}">
  {% module Submit('edit') %}
</form>
<form action="{{ reverse_url('sample_create', project['projectid']) }}">
  {% module Submit('create', title='Create sample') %}
</form>
<form action="{{ reverse_url('project_update', project['projectid']) }}">
  {% module Submit('update', title='Update samples') %}
</form>
<form action="{{ reverse_url('project_upload', project['projectid']) }}">
  {% module Submit('upload', title='Upload samples') %}
</form>
{% end %}

{% block api %}
<div>
  <a href="{{ reverse_url('api_project', project['projectid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_project', project['projectid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_samples', project['projectid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_samples', project['projectid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_project_libpreps', project['projectid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_project_libpreps', project['projectid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_project_seqruns', project['projectid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_project_seqruns', project['projectid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_logs', project['_id']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_logs', '_id') }}
  </a>
</div>
{% end %}

{% block content %}

<table class="fields" style="margin-bottom:20px;">

  {% for field in fields %}
  <tr>
    <th title="{{ field.description }}" class="nobr">{{ field.title }}</th>
    <td>{% raw field.html_display(project) %}</td>
  </tr>
  {% end %}

  </table>
  <table id="sp_table" class="list sortable">
    <thead>
	<tr class="list">
	  <th class="sort" data-sort="identifier">Identifier</th>
	  <th class="sort" data-sort="status">Status</th>
	  <th class="sort" data-sort="an_status">Analysis Status</th>
	  <th class="sort" data-sort="ge_status">Genotyping status</th>
	  <th class="sort" data-sort="de_status">Delivery Status</th>
	  <th class="sort" data-sort="coverage">Total autosomal coverage</th>
	  <th class="sort" data-sort="target_coverage">Target coverage</th>
	  <th class="sort" data-sort="reads">Total sequenced reads</th>
	  <th class="sort" data-sort="nb_libpreps"># libpreps</th>
	  <th class="sort" data-sort="nb_seqruns"># seqruns</th>
	  <th class="sort" data-sort="modified">Modified</th>
	  <th class="sort" data-sort="edit">Edit</th>
	</tr>
    </thead>
    <tfoot>
	<tr class="list">
	  <th class="sort" data-sort="identifier">Identifier</th>
	  <th class="sort" data-sort="status">Status</th>
	  <th class="sort" data-sort="an_status">Analysis Status</th>
	  <th class="sort" data-sort="ge_status">Genotyping status</th>
	  <th class="sort" data-sort="de_status">Delivery Status</th>
	  <th class="sort" data-sort="coverage">Total autosomal coverage</th>
	  <th class="sort" data-sort="target_coverage">Target coverage</th>
	  <th class="sort" data-sort="reads">Total sequenced reads</th>
	  <th class="sort" data-sort="nb_libpreps"># libpreps</th>
	  <th class="sort" data-sort="nb_seqruns"># seqruns</th>
	  <th class="sort" data-sort="modified">Modified</th>
	  <th class="sort" data-sort="edit">Edit</th>
	</tr>
    </tfoot>

	{% if samples %}
	{% for sample in samples %}
	<tr>
	  <td class="identifier">
	    <a href="{{ reverse_url('sample', project['projectid'], sample['sampleid']) }}">
	      {{ sample['sampleid'] }}
	    </a>
	  </td>
	  <td class="status">{{ sample.get('status') or '-' }}</td>
	  <td class="an_status">{{ sample.get('analysis_status') or '-' }}</td>
	  <td class="ge_status">{{ sample.get('genotype_status') or '-' }}</td>
	  <td class="de_status">{{ sample.get('delivery_status') or '-' }}</td>
	  <td class="coverage" >{{ sample['total_autosomal_coverage'] if sample.get('total_autosomal_coverage') else '-'}}</td>
	  <td class="target_coverage">{{ sample.get('target_coverage') or '-' }}</td>
	  <td class="reads">{{ sample.get('total_sequenced_reads') or '-' }}</td>
	  <td class="nb_libpreps number">{{ sample['libpreps_count'] }}</td>
	  <td class="nb_seqruns number">{{ sample['seqruns_count'] }}</td>
	  <td class="modified localtime">{{ sample['modified'] }}</td>
	  <td>
	    <form action="{{ reverse_url('sample_edit', sample['projectid'], sample['sampleid']) }}">
	      {% module Submit('edit', slim=True) %}
	    </form>
	  </td>
	</tr>
	{% end %}

	{% end %}
      </table>

      <table>
  {% set entity = project %}
  {% include 'output_events_fields.html' %}
  </table>

<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
function init_listjs() {
    // Setup - add a text input to each footer cell
    $('#sp_table tfoot th').each( function () {
    var title = $('#sp_table thead th').eq( $(this).index() ).text();
    $(this).html( '<input size=10 type="text" placeholder="Search '+title+'" />' );
    } );

    var table = $('#sp_table').DataTable({
        "paging":false,
        "info":false,
        "order": [[ 0, "desc" ]]
        });
    //Add the bootstrap classes to the search thingy
    $('div.dataTables_filter input').addClass('form-control search search-query');
    $('#sp_table_filter').addClass('form-inline pull-right');
    $("#sp_table_filter").appendTo("h1");
    $('#sp_table_filter label input').appendTo($('#sp_table_filter'));
    $('#sp_table_filter label').remove();
    $("#sp_table_filter input").attr("placeholder", "Search..");
    // Apply the search
    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
            .search( this.value )
            .draw();
        } );
    } );
}
init_listjs();
</script>

{% end %}
