{# Project create page. #}

{% extends "base.html" %}

{% block head_title %}
Create Project
{% end %}

{% block title %}
{% module Icon('create', label=True) %}
{% module Icon('project', label=True) %}
{% end %}

{% block content %}

<form action="{{ reverse_url('project_create') }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Create a new project</legend>
    {% include 'error.html' %}

    <table class="fields">

      {% for field in fields %}
      <tr>
	<th>{{ field.title }}</th>
	<td>
	  {% if field.mandatory %}
	  {% module Icon('mandatory') %}
	  {% end %}
	</td>
	<td>{% raw field.html_create() %}</td>
	<td class="description">{{ field.description }}</td>
      </tr>
      {% end %}

      <tr>
	<th></th>
	<td></td>
	<td>
	  {% module Submit('create') %}
	</td>
      </tr>

    </table>
  </fieldset>

</form>

{% end %}
