{# Project edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Project {{ project['projectid'] }}
{% end %}

{% block title %}
{% module Icon('edit', label=True) %}
{% module Icon('project') %}
Project {{ project['projectid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('project', project['projectid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('project_edit', project['projectid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Edit the project information</legend>
    {% include 'error.html' %}
    {% set entity = project %}
    {% include 'edit_input_table.html' %}
  </fieldset>

</form>

{% end %}
