{# Sample edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Sample {{ sample['sampleid'] }} (project {{ sample['projectid'] }})
{% end %}

{% block title %}
{% module Icon('edit') %} Edit
{% module Icon('sample', label=True) %} {{ sample['sampleid'] }}
(project {{ sample['projectid'] }})
{% end %}

{% block actions %}
<form action="{{ reverse_url('sample', sample['projectid'], sample['sampleid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('sample_edit', sample['projectid'], sample['sampleid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>

    <legend>Edit the sample information</legend>

    <table class="fields">

      <tr>
	<th>Project</th>
	<td>{% module Icon('mandatory') %}</td>
	<td>
	  <a href="{{ reverse_url('project', sample['projectid']) }}">
	    {{ sample['projectid'] }}
	  </a>
	</td>
	<td class="description">
	  The identifier for the project to which the sample belongs.
	</td>
      </tr>

      <tr>
	<th>Identifier</th>
	<td>{% module Icon('mandatory') %}</td>
	<td>{{ sample['sampleid'] }}</td>
	<td class="description">
	  The sample identifier, unique within the project.
	</td>
      </tr>

      <tr>
	<th>Status</th>
	<td></td>
	<td>
	  <input type="text" name="status"
		 value="{{ sample.get('status') or '' }}">
	</td>
	<td class="description">
	  Sample status.
	</td>
      </tr>

      <tr>
	<th>Received</th>
	<td></td>
	<td>
	  <input type="datetime" name="received"
		 value="{{ sample.get('received') or '' }}">
	</td>
	<td class="description">
	  Timestamp for when the sample was received.
	</td>
      </tr>

      <tr>
	<th>QC</th>
	<td></td>
	<td>
	  <input type="text" name="qc"
		 value="{{ sample.get('qc') or '' }}">
	</td>
	<td class="description">
	  Quality control status.
	</td>
      </tr>

      <tr>
	<th>Genotyping status</th>
	<td></td>
	<td>
	  <input type="text" name="genotyping_status"
		 value="{{ sample.get('genotyping_status') or ''}}">
	</td>
	<td class="description">
	</td>
      </tr>

      <tr>
	<th>Genotyping concordance</th>
	<td></td>
	<td>
	  <input type="text" name="genotyping_concordance"
		 value="{{ sample.get('genotyping_concordance') or ''}}">
	</td>
	<td class="description">
	</td>
      </tr>

      <tr>
	<th>Sequenced</th>
	<td></td>
	<td>
	  <input type="datetime" name="sequenced"
		 value="{{ sample.get('sequenced') or '' }}">
	</td>
	<td class="description">
	  Timestamp for when the sample was sequenced.
	</td>
      </tr>

      <tr>
	<th>Primary analysis done</th>
	<td></td>
	<td>
	  <input type="datetime" name="primary_analysis_done"
		 value="{{ sample.get('primary_analysis_done') or '' }}">
	</td>
	<td class="description">
	  Timestamp for when the primary analysis (coverage and QC) of
	  the sample was done.
	</td>
      </tr>

      <tr>
	<th>Secondary analysis done</th>
	<td></td>
	<td>
	  <input type="datetime" name="secondary_analysis_done"
		 value="{{ sample.get('secondary_analysis_done') or '' }}">
	</td>
	<td class="description">
	  Timestamp for when the secondary analysis (variant calls, etc) of
	  the sample was done.
	</td>
      </tr>

      <tr>
	<th>Delivered</th>
	<td></td>
	<td>
	  <input type="datetime" name="delivered"
		 value="{{ sample.get('delivered') or '' }}">
	</td>
	<td class="description">
	  Timestamp for when the sample information was delivered.
	</td>
      </tr>

      <tr>
	<th></th>
	<td></td>
	<td>
	  {% module Submit('save') %}
	</td>
      </tr>

    </table>

  </fieldset>

</form>

{% end %}
