{# Sample create page. #}

{% extends "base.html" %}

{% block head_title %}
Create
Sample
in project{{ project['projectid'] }}
{% end %}

{% block title %}
{% module Icon('create', label=True) %}
{% module Icon('sample', label=True) %}
in project {{ project['projectid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('project', project['projectid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('sample_create', project['projectid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Create a new sample</legend>
    {% include 'error.html' %}

    <table class="fields">

      {% for field in fields %}
      <tr>
	<th>{{ field.title }}</th>
	<td>
	  {% if field.mandatory %}
	  {% module Icon('mandatory') %}
	  {% end %}
	</td>
	<td>{% raw field.html_create() %}</td>
	<td class="description">{{ field.description }}</td>
      </tr>
      {% end %}

      <tr>
	<th></th>
	<td></td>
	<td>
	  {% module Submit('create') %}
	</td>
      </tr>

    </table>
  </fieldset>

</form>

{% end %}
