{# Sample create page. #}

{% extends "base.html" %}

{% block head_title %}
Create Sample (project {{ project['projectid'] }})
{% end %}

{% block title %}
{% module Icon('create', label=True) %}
{% module Icon('sample', label=True) %}
(project {{ project['projectid'] }})
{% end %}

{% block content %}

<form action="{{ reverse_url('sample_create', project['projectid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Create a new sample</legend>
    {% include 'error.html' %}
    {% include 'create_fields.html' %}
  </fieldset>

</form>

{% end %}
