{# Sample edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Sample
{{ sample['projectid'] }},
{{ sample['sampleid'] }}
{% end %}

{% block title %}
{% module Icon('edit', label=True) %}
{% module Icon('sample', label=True) %}
{{ sample['projectid'] }},
{{ sample['sampleid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('sample', sample['projectid'], sample['sampleid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('sample_edit', sample['projectid'], sample['sampleid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Edit the sample information</legend>
    {% include 'error.html' %}
    {% set entity = sample %}
    {% include 'edit_fields.html' %}
  </fieldset>

</form>

{% end %}
