{# Sample page. #}

{% extends "base.html" %}

{% block head_title %}
Sample
{{ sample['projectid'] }},
{{ sample['sampleid'] }}
{% end %}

{% block title %}
{% module Icon('sample', label=True) %}
{{ sample['projectid'] }},
{{ sample['sampleid'] }}
{% end %}

{% block actions %}
<form action="{{ reverse_url('sample_edit', sample['projectid'], sample['sampleid']) }}">
  {% module Submit('edit') %}
</form>
<form action="{{ reverse_url('libprep_create', sample['projectid'], sample['sampleid']) }}">
  {% module Submit('create', title='Create libprep') %}
</form>
{% end %}

{% block api %}
<div>
  <a href="{{ reverse_url('api_sample', sample['projectid'], sample['sampleid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_sample', sample['projectid'], sample['sampleid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_sample_libpreps', sample['projectid'], sample['sampleid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_sample_libpreps', sample['projectid'], sample['sampleid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_sample_seqruns', sample['projectid'], sample['sampleid']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_sample_seqruns', sample['projectid'], sample['sampleid']) }}
  </a>
</div>
<div>
  <a href="{{ reverse_url('api_logs', sample['_id']) }}">
    {% module Icon('json') %}
    {{ reverse_url('api_logs', '_id') }}
  </a>
</div>
{% end %}

{% block content %}

{% set entity = sample %}

<table class="fields">

  <tr>
    <th>Project</th>
    <td>
      <a href="{{ reverse_url('project', sample['projectid']) }}">
	{{ sample['projectid'] }}
      </a>
    </td>
  </tr>

  {% include 'display_fields.html' %}

  <tr>
    <th>Libpreps</th>
    <td>
      <table class="list">
	<tr class="list">
	  <th>Identifier</th>
	  <th>Status</th>
	  <th># seqruns</th>
	  <th>Modified</th>
	</tr>
	{% for libprep in libpreps %}
	<tr>
	  <td>
	    <a href="{{ reverse_url('libprep', sample['projectid'], sample['sampleid'], libprep['libprepid']) }}">
	      {{ libprep['libprepid'] }}
	      </a>
	  </td>
	  <td>{{ libprep.get('status') or '-' }}</td>
	  <td class="number">{{ libprep['seqruns_count'] }}</td>
	  <td class="localtime">{{ libprep['modified'] }}</td>
	  <td>
	    <form action="{{ reverse_url('libprep_edit', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
	      {% module Submit('edit', slim=True) %}
	    </form>
	  </td>
	</tr>
	{% end %}
      </table>
    </td>
  </tr>

  {% include 'output_events_fields.html' %}

</table>

{% end %}
