{# Sample edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Sample {{ sample['sampleid'] }} (project {{ sample['projectid'] }})
{% end %}

{% block title %}
{% module Icon('edit') %} Edit
{% module Icon('sample', label=True) %} {{ sample['sampleid'] }}
(project {{ sample['projectid'] }})
{% end %}

{% block actions %}
<form action="{{ reverse_url('sample', sample['projectid'], sample['sampleid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('sample_edit', sample['projectid'], sample['sampleid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Edit the sample information</legend>
    {% include 'error.html' %}
    {% set entity = sample %}
    {% include 'edit_input_table.html' %}
  </fieldset>

</form>

{% end %}
