{# Seqrun create page. #}

{% extends "base.html" %}

{% block head_title %}
Create Seqrun
(project {{ libprep['projectid'] }}, sample {{ libprep['sampleid'] }}, libprep {{ libprep['libprepid']}})
{% end %}

{% block title %}
{% module Icon('create', label=True) %}
{% module Icon('seqrun', label=True) %}
(project {{ libprep['projectid'] }}, sample {{ libprep['sampleid'] }}, libprep {{ libprep['libprepid']}})
{% end %}

{% block content %}

<form action="{{ reverse_url('seqrun_create', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Create a new seqrun</legend>
    {% include 'error.html' %}
    {% include 'create_fields.html' %}
  </fieldset>

</form>

{% end %}
