{# Seqrun edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Seqrun 
{{ seqrun['projectid'] }},
{{ seqrun['sampleid'] }},
{{ seqrun['libprepid']}},
{{ seqrun['seqrunid'] }}
{% end %}

{% block title %}
{% module Icon('edit', label=True) %}
{% module Icon('seqrun', label=True) %}
{{ seqrun['seqrunid'] }}
(project {{ seqrun['projectid'] }},
sample {{ seqrun['sampleid'] }},
libprep {{ seqrun['libprepid']}})
{% end %}

{% block actions %}
<form action="{{ reverse_url('seqrun', seqrun['projectid'], seqrun['sampleid'], seqrun['libprepid'], seqrun['seqrunid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('seqrun_edit', seqrun['projectid'], seqrun['sampleid'], seqrun['libprepid'], seqrun['seqrunid']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Edit the seqrun information</legend>
    {% include 'error.html' %}
    {% set entity = seqrun %}
    {% include 'edit_fields.html' %}
  </fieldset>

</form>

{% end %}
