{# Seqrun edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Seqrun {{ seqrunid }}
(project {{ libprep['projectid'] }},
sample {{ libprep['sampleid'] }},
libprep {{ libprep['libprepid']}})
{% end %}

{% block title %}
{% module Icon('edit', label=True) %}
{% module Icon('seqrun', label=True, title="Seqrun {0}".format(seqrunid)) %}
(project {{ libprep['projectid'] }},
sample {{ libprep['sampleid'] }},
libprep {{ libprep['libprepid']}})
{% end %}

{% block actions %}
<form action="{{ reverse_url('libprep', libprep['projectid'], libprep['sampleid'], libprep['libprepid']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('seqrun_edit', libprep['projectid'], libprep['sampleid'], libprep['libprepid'], seqrunid) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Edit the seqrun information</legend>
    {% include 'error.html' %}
    {% set entity = seqrun %}
    {% include 'edit_fields.html' %}
  </fieldset>

</form>

{% end %}
