{# Projects page. #}

{% extends "base.html" %}

{% block head_title %}
Analysis summary
{% end %}

{% block title %}
{% module Icon('project', title='Projects', label=True) %}
{% end %}

{% block content %}

<table class="list">
  <tr><th>Total number of samples</th><td>{{ data['tot'] }}</td></tr>
  <tr><th><a href="/samplesdonefailed">Samples Analyzed</a></th><td>{{ data['passed']+data['failed'] }}</td></tr>
  <tr><th><a href="/samplesdone">Samples Passed</a></th><td>{{ data['passed'] }}</td></tr>
  <tr><th><a href="/samplesfailed">Samples Failed</a></th><td>{{ data['failed'] }}</td></tr>
  <tr><th><a href="/samplesrunning">Samples Running</a></th><td>{{ data['runn'] }}</td></tr>
  <tr><th>Samples Aborted</th><td>{{ data['ab'] }}</td></tr>
  <tr><th>Samples Sequenced</th><td>{{ data['seq'] }}</td></tr>
  <tr><th>Human Genome Equivalent</th><td>{{ data['hge'] }}</td></tr>
</table>

{% end %}
