{# Projects page. #}

{% extends "base.html" %}

{% block head_title %}
Analysis summary
{% end %}

{% block title %}
{% module Icon('project', title='Projects', label=True) %}
{% end %}

{% block content %}

<table class="list">
  <tr><th>Total number of samples</th><td>{{ samples_total}}</td></tr>
  <tr><th>Samples Analyzed</th><td>{{ samples_analyzed}}</td></tr>
  <tr><th>Samples Passed</th><td>{{ samples_passed}}</td></tr>
  <tr><th>Samples Failed</th><td>{{ samples_failed}}</td></tr>
  <tr><th>Samples Running</th><td>{{ samples_running}}</td></tr>
</table>

{% end %}
